* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid black; */
	font-family: "Inter";
}

body {
	background-color: #fff7ed;
}

a {
	text-decoration: none;
}

/* Navbar */

.main-nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	height: 100px;
	align-items: center;
	overflow: hidden;
	z-index: 2;
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4);
	background-color: #fff7ed;
}

.nav-logo {
	padding-left: 20px;
}

.nav-logo > * {
	font-weight: 900;
	font-size: 24px;
	color: black;
	text-decoration: none;
}

.nav-links > * {
	padding: 0 15px 0 15px;
	font-size: 15px;
	text-decoration: none;
	color: #4d4d4d;
	font-weight: 600;
}

.nav-links > *:hover {
	color: black;
	text-decoration: underline;
}

.link-selected {
	color: black !important;
	text-decoration: underline;
}

/* Home */

main {
	margin: 100px 0 75px 0;
	background-color: #fff7ed;
}

.home-hero {
	height: 100vh;
	z-index: -1;
	background-image: url("./assets/home-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.home-hero-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 20px;
}

.home-hero-txt {
	color: white;
}

.home-hero-txt p {
	padding: 10px 0;
	font-size: 15px;
	font-weight: 200;
}

.home-btn {
	background-color: #ff8c38;
	font-weight: 700;
	border-radius: 5px;
	border: none;
	color: white;
	height: 40px;
	max-width: 300px;
	width: 300px;
	margin: 30px 0;
	cursor: pointer;
}

/* About */

.about-wrapper {
	height: 100vh;
}

.about-hero {
	background-image: url("./assets/about-hero.png");
	min-height: 230px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.about-txt-box {
	padding: 30px 20px;
}
.about-txt-wrapper {
	margin-bottom: 40px;
}

.about-txt-wrapper h1 {
	font-size: 30px;
	margin-bottom: 10px;
}

.about-txt-wrapper p {
	font-size: 15px;
	margin-bottom: 10px;
}

.about-explore-box {
	padding: 30px 20px;
	background-color: #ffcc8d;
	border-radius: 5px;
}

.about-explore-box p {
	font-size: 22px;
	font-weight: 700;
}

.explore-btn {
	background-color: black;
	color: white;
	border-radius: 5px;
	padding: 15px;
	font-size: 14px;
	margin: 15px 0;
	border: none;
}

/* Vans */

.vans-wrapper {
	padding: 0 20px;
}

.vans-wrapper * {
	text-decoration: none;
}

.vans-explore-box {
	margin: 130px 0 60px 0;
}

.vans-explore-box h1 {
	margin-bottom: 20px;
}

.explore-filters-box {
	display: flex;
	align-items: center;
	gap: 3%;
}

.filter-sim,
.filter-lux,
.filter-rug {
	background-color: #ffead0;
	border: none;
	border-radius: 5px;
	color: black;
}

.filter-sim:hover,
.filter-lux:hover,
.filter-rug:hover {
	color: #ffead0 !important;
	transition: 0.3s;
	cursor: pointer;
}

.filter-sim:hover {
	background-color: #e17654 !important;
}

.filter-lux:hover {
	background-color: #161616 !important;
}

.filter-rug:hover {
	background-color: #115e59 !important;
}

.filter-sim.selected {
	background-color: #e17654;
	color: #ffead0;
}

.filter-lux.selected {
	background-color: #161616;
	color: #ffead0;
}

.filter-rug.selected {
	background-color: #115e59;
	color: #ffead0;
}

.explore-filters-box .clear-btn {
	color: black;
	text-decoration: underline;
	border: none;
	background-color: transparent;
	cursor: pointer;
	min-width: 128.5px;
}

.explore-filters-box > * {
	font-size: 16px;
	padding: 8px 20px;
	font-weight: 500;
}

.explore-filters-box p {
	text-decoration: underline;
	min-width: 135px;
}

.van-tiles-box {
	display: flex;
	gap: 9%;
	flex-wrap: wrap;
}

.van-tile {
	margin-bottom: 30px;
	color: black;
}

.van-tile img {
	width: 200px;
	height: 200px;
	border-radius: 5px;
}

.van-info {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.van-info h3 {
	font-size: 18px;
}

.van-info p {
	display: flex;
	flex-direction: column;
	font-weight: bold;
	font-size: 18px;
}

.van-info span {
	font-weight: normal;
	font-size: 14px;
}

.van-type {
	font-style: normal;
	color: #ffead0;
	font-size: 15px;
	padding: 8px 15px;
	border-radius: 5px;
}

.simple {
	background-color: #e17654;
}

.rugged {
	background-color: #115e59;
}

.luxury {
	background-color: #161616;
}
/* Van details */

.single-van-wrapper {
	margin-top: 140px;
	padding: 0 20px;
}

.back-to {
	display: flex;
	align-items: center;
	color: black;
	font-size: 15px;
}

.back-to p {
	margin: 0 10px;
	font-weight: 600;
	text-decoration: underline;
}

.van-detail {
	margin: 50px 0;
}

.van-detail img {
	width: 450px;
	object-fit: cover;
	border-radius: 5px;
}

.van-detail-txt {
	margin: 40px 0;
	display: flex;
	flex-direction: column;
}

.van-detail-txt > * {
	margin: 15px 0;
}

.van-detail-txt button {
	align-self: center;
}

.van-price {
	font-weight: bold;
	font-size: 18px;
}

.van-price span {
	font-weight: normal;
	font-size: 14px;
}

/* Footer */

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #252525;
}

.footer-box {
	color: #aaaaaa;
	font-size: 14px;
	font-weight: 500;
}

/* Host Navbar */

.host-nav {
	width: 100%;
	top: 100px;
	left: 0;
	display: flex;
	justify-content: space-between;
	height: 100px;
	align-items: center;
	overflow: hidden;
	z-index: 1;
	background-color: #fff7ed;
}

/* Host vans */

.host-vans-wrapper {
	padding: 0 20px;
}

.host-vans-box {
	margin-top: 30px;
}

.host-van-tile {
	text-decoration: none;
	padding: 15px 15px;
	display: flex;
	border-radius: 5px;
	margin: 20px 0;
	box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.4);
}

.host-van-tile img {
	width: 100px;
	border-radius: 5px;
}

.host-van-txt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 15px;
	color: black;
}

.host-van-txt > span {
	font-weight: 600;
}

.host-van-txt p {
	font-size: 14px;
	color: #4d4d4d;
}

.host-van-txt * {
	text-decoration: none;
}

/* Host van details */

.single-host-van-wrapper {
	padding: 0 20px;
	margin: 0 0 150px 0;
}

.host-van-detail {
	margin: 50px 0;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.4);
}

.host-van-img-box {
	display: flex;
	margin-bottom: 20px;
}

.host-van-img-box img {
	width: 150px;
	border-radius: 5px;
}

.host-van-detail-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 15px;
}

.host-van-detail-box h2 {
	font-size: 22px;
}

.host-van-detail-box .van-price {
	font-size: 18px;
}

.host-van-detail-box > * {
	margin: 7px 0;
}

.host-van-detail-box .van-type {
	font-size: 12px;
}

/* Host van detail nav */

.detail-navbar {
	margin-bottom: 25px;
}

.detail-navbar > * {
	color: #4d4d4d;
	font-weight: 600;
	font-size: 14px;
	margin-right: 40px;
}

.detail-navbar > *:hover {
	text-decoration: underline;
}

.host-van-info-box p {
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 20px;
}

.host-van-info-box span {
	color: #161616;
}

.host-van-pricing-box {
	padding: 15px 0;
}

.host-van-pricing-box p {
	font-weight: 600;
	font-size: 22px;
}

.host-van-pricing-box span {
	color: #4d4d4d;
	font-size: 18px;
}

.host-van-photos-box img {
	width: 120px;
}

/* 404 page */

.error-wrapper {
	margin-top: 200px;
	padding: 30px;
}

.error-wrapper div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.error-btn {
	background-color: black;
	font-weight: 700;
	border-radius: 5px;
	color: white;
	height: 40px;
	max-width: 300px;
	width: 300px;
	margin: 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
}

/* Login page */

.login-wrapper {
	padding: 50px 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-form {
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.login-form input {
	width: 100%;
	max-width: 500px;
	padding: 8px;
	font-size: 16px;
	border: 1px solid #d1d5db;
}

.login-form input:first-child {
	border-radius: 5px 5px 0 0;
}

.login-form input:nth-child(2) {
	border-radius: 0 0 5px 5px;
}

.login-form input:focus {
	outline: none;
}

.login-form button {
	background-color: #ff8c38;
	font-weight: 700;
	border-radius: 5px;
	border: none;
	color: white;
	height: 40px;
	width: 100%;
	max-width: 500px;
	margin: 30px 0;
	cursor: pointer;
}

.login-form button:disabled {
	background-color: gray;
	cursor: default;
}

.create-now {
	font-weight: 600;
}

.create-now span {
	color: #ff8c38;
}
